<div class="modal modal-made js-modal" data-modal="2">
  <button class="modal__close js-modal-close" type="button">
    <svg class="modal__close-icon" width="32" height="32">
      <use href="./images/icons.svg#close"></use>
    </svg>
  </button>
  <h2 class="modal-made__title">100 % quality</h2>
  <ul class="modal-made__list">
    <li class="modal-made__item">
      <h3 class="modal-made__subtitle">
        Quality control at all levels of production
      </h3>
      <p class="modal-made__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequun<span
          class="modal-made__dots"
          data-dots="1"
          >...</span
        ><span data-text="1" class="modal-made__more-text"
          >earum corrupti, eius ratione ipsa numquam officiis ipsum assumenda
          quae saepe odit eveniet atque possimus.</span
        >
      </p>
      <button type="button" data-action="1" class="showMore modal-made__btn">
        show more
      </button>
    </li>

    <li class="modal-made__item">
      <h3 class="modal-made__subtitle">Only natural eco ingredients</h3>
      <p class="modal-made__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias velit

        <span class="modal-made__dots" data-dots="2">...</span
        ><span data-text="2" class="modal-made__more-text"
          >veritatis ratione, optio ipsam, laboriosam expedita, doloribus
          aliquam saepe magni doloremque id? Ipsum voluptatem fuga animi eaque
          fugiat deserunt.</span
        >
      </p>
      <button type="button" data-action="2" class="showMore modal-made__btn">
        show more
      </button>
    </li>

    <li class="modal-made__item">
      <h3 class="modal-made__subtitle">The best trends of the world market</h3>
      <p class="modal-made__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        bla<span class="modal-made__dots" data-dots="3">...</span
        ><span data-text="3" class="modal-made__more-text"
          >nditiis libero quibusdam, consequatur quasi iste velit deleniti
          excepturi commodi, assumenda iure fugit et error doloremque fuga
          eveniet necessitatibus. Obcaecati eaque eius quae corrupti placeat
          nobis.</span
        >
      </p>
      <button type="button" data-action="3" class="showMore modal-made__btn">
        show more
      </button>
    </li>
  </ul>
</div>
